
.comment {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.comment img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.comment-details {
    display: flex;
    flex-direction: column;
}

.comment-details p {
    margin: 0;
}

.comment-details .uploader {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-details .commentText {
    color: #606060;
}




.comment-actions {
    margin-top: 10px;
}

.edit-button,
.delete-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}