/* VideoPrevNar.css */
.video-prev-nar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px; /* Add padding */}
  
  
  .video-thumbnail-scroll {
    width: 180px; /* Adjust thumbnail width as needed */
    height: 110px;
    margin-right: 10px; /* Add space between thumbnail and details */
  }
  
  .video-info-scroll {
    flex: 1; /* Make info section take remaining space */
    display: flex;
    flex-direction: column;
  }
  
  .video-title-scroll {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
  }
  
  .video-publisher-scroll,
  .video-upload-date-scroll {
    font-size: 14px;
    color: #606060;
    margin: 0;
  }
  
  .video-wrapper {
    display: flex; /* Enable flexbox */
    align-items: center; /* Vertically align content */
  }
  