
.video-prev-nar {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 450px;
    margin-right: -20px;
    color: #333;
    line-height: 1.2; 
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
}

.link-no-style{
    text-decoration: none;

}
.video-thumbnail-scroll {
    width: 180px; 
    height: 110px;
    border-radius: 10%;
    margin-right: 10px; 
    white-space: nowrap;
    word-wrap: break-word;
}

.video-info-scroll {
    flex: 1;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    word-wrap: break-word;
    text-decoration: none;

}

.video-title-scroll {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    align-items: left;
    text-align: left;
    align-self: left;
    align-content: left;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap !important;
    max-width: 10px;
    margin-top: -34px;
    margin-left: -15px;
    margin-bottom: -25px;
    word-wrap: break-word !important;
    text-wrap: normal !important;
;}


.video-publisher-scroll {
    font-size: 12px;
    color: #606060;
    margin-top:-12px;}

.video-wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: flex-start;
    word-wrap: break-word !important;
    text-wrap: nowrap;
}


span6 {
    width: 20px;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    max-width: 30px;
    word-wrap: break-word !important;
    text-wrap: nowrap !important;
}
.title-container {
    width: 100%; 
    max-width: 130px;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    white-space: normal; 
    padding: 10px;
    box-sizing: border-box; 
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 1.2; 
    margin: 0;
    margin-left: -12px;
}

.video-views-upload-date-scroll {
    font-size: 12px;
    color: #555;
    margin-top: 20px;
    margin-bottom: -15px;
  }

  .dark-mode .video-views-upload-date-scroll {
    color: #dfdfdf;
  }
  .dark-mode .video-title-scroll {
    color: #ffffff;
  }
  .dark-mode .video-publisher-scroll {
    color: #dfdfdf;
  }
  
  .video-wrapper:hover {
    background-color: #efeded;
    border-radius: 5%;
  }
  .dark-mode .video-wrapper:hover {
    background-color: #404040;
    border-radius: 5%;
  }
  .video-prev-nar a.link-no-style {
    text-decoration: none;
  }