.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  padding: 0; 
  width: 100%; 
  align-items: center; 
}

.home-container.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.video-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 70%; 
  max-width: 1200px; 
  margin: 20px auto; 
  margin-top: 120px;
  margin-left: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.videoplay {
  margin-top: 100px;
  width: 100%;
  max-width: 1200px; 
  height: 550px; 
  background-color: #000;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
}

.videoplay video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-details {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #f3f3f3;
  width: 100%; 
}

.video-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  text-align: left;
}

.video-meta {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #606060;
  font-size: 14px;
  margin-bottom: 10px;
}

.video-publisher {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  margin-left: 2px;
}
.publisherDetails {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

.video-upload-date {
  text-align: right;
}

.video-description {
  font-size: 16px;
  line-height: 1.5;
  color: #606060;
  text-align: left;
  margin-top: 10px;
}

.video-actions {
  display: flex;
  gap: 10px;
}

.like-button {
  height: 40px;
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #606060;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  outline: none;
}

.like-button:hover {
  background-color: #d3d3d3;
  
}.dislike-button:hover {
  background-color: #d3d3d3;
}

.like-button.liked {
  background-color: #606060;
  color: #fff;
}

.comment-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%; 
  max-width: 1000px; 
  margin: 20px auto; 
  margin-left: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-comment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; 
}

.video-section {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0; 
  overflow-x: hidden; 
}
.link-no-style {
  text-decoration: none;
  color: inherit;
}


.video-grid-narrow {
  position: absolute;
  top: 0; 
  right: 0; 
  width: 350px;
  grid-template-columns: repeat(1, 1fr); 
  gap: 15px;
  padding: 0 10px;
  overflow-x: hidden; 
  overflow-y: auto; 
  margin-top: 100px; 
  margin-bottom: 20px;
  margin-right: 60px;
  white-space: normal;
  word-wrap: break-word; 
}

.video-item {
  width: calc(33.33% - 20px); 
  flex: 1; 
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-item video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.video-item .video-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
  text-align: center;
}

.video-item .video-description {
  font-size: 14px;
  color: #606060;
  text-align: center;
  margin-top: 5px;
}

.edit-delete-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.edit-button, .delete-button {
  height: 40px;
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #606060;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  outline: none;
  margin-top: -10px;
  gap: 5px;
}

.edit-button:hover, .delete-button:hover {
  background-color: var(--button-hover-bg-color, #c9c9c9);
}

.edit-description {
  margin-top: 10px;
}

.edit-description-input {
  width: 100%;
  height: 80px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.save-edit-button, .cancel-edit-button {
  background-color: var(--button-bg-color, #606060);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s;
}

.save-edit-button:hover, .cancel-edit-button:hover {
  background-color: var(--button-hover-bg-color, #c9c9c9);
}

.comment-buttons .add-comment-button  {
  height: 40px;
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #606060;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  outline: none;
}
.comment-buttons .cancel-comment-button {
  height: 40px;
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #606060;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  outline: none;
}

.add-comment-button:hover, .cancel-comment-button:hover {
  background-color: #d3d3d3;
}

.comment-input-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.comment-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-input {
  flex: 1;
  height: 40px; 
  padding: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #ccc; 
  resize: none;
}

.comment-buttons {
  display: flex;
  margin-top: 10px;
}

.add-comment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}


.dark-mode .video-container {
  background-color: #2c2c2c;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.videoplay {
  width: 100%;
  height: auto;
}

.videoplay video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}



.video-title {
  font-size: 24px;
  font-weight: bold;
}

.video-meta {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
}

.dark-mode .video-meta {
  color: #cccccc;
}

.publisherDetails {
  display: flex;
  align-items: center;
}

.video-publisher {
  margin-left: 10px;
  font-weight: bold;
}


.video-upload-date {
  margin-left: 20px;
  font-style: italic;
}


.video-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}


.edit-details {
  margin-top: 20px;
}

.edit-title-input, .edit-description-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dark-mode .edit-title-input, .dark-mode .edit-description-input {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}

.edit-title-input {
  font-size: 18px;
}

.edit-description-input {
  height: 100px;
  font-size: 16px;
  resize: none;
}


.comment-section {
  width: 100%;
  margin-top: 30px;
}

.add-comment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.comment-input-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.comment-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  min-height: 60px;
}

.dark-mode .comment-input {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}

.comment-buttons {
  display: flex;
  gap: 10px;
}

.add-comment-button, .cancel-comment-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark-mode .video-details{
  background-color: #727272;
}

.video-details .video-title {
  background-color: transparent;
  margin-left: 10px;
}
.video-details .video-description {
  margin-left: 10px;
}
.video-details .publisherDetails{
  margin-left: 10px;
}
.video-details .video-upload-date {
  margin-right: 10px;
}

.dark-mode .video-details .video-title {
color: #DDDDDD;
}

.dark-mode .video-details .video-publisher {
  color: #CCCCCC;
}

.dark-mode .video-details .video-description {
    color: #CCCCCC;
}

.dark-mode .video-details .video-upload-date {
  color: #CCCCCC;
}
.video-details .publisherDetails img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
