.dropdown-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1050; 
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
  .dropdown-container {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  /* Dark Mode */
  .dropdown-container.dark-mode {
    background-color: var(--background-color);
    color: var(--text-color);
  }  
  
  .dropdown .btn {
    background: none;
    border: none;
    padding: 0;
  }
  
  .offcanvas {
    width: 250px;
  }
  
  .offcanvas-body .list-group-item {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .offcanvas-body .list-group-item:hover {
    background-color: #f0f0f0;
  }
  
  .offcanvas-body .bi {
    margin-right: 10px;
  }
  

  
.dark-mode {
    background-color: #333; /* Example background color for dark mode */
    color: #fff; /* Example text color for dark mode */
  }
  :root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    
    --background-color-dark: #1a1a1a;
    --text-color-dark: #ffffff;
  }