/* Ensure the header spans the full width and stays at the top */
header.navbar {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-screen {
  padding-top: 4rem; /* Add some padding to avoid content overlap with fixed header */
  text-align: center;
}

.create-account button {
  margin-left: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  margin-right: 10px;
}

.user-info button {
  padding: 5px 10px;
  font-size: 14px;
}
