.video-prev {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: var(--background-color-light);
    color: var(--text-color-light);

}
.textarea-description {
    width: 100%; /* Make it take the full width of its container */
    height: 100px; /* Increase the height as needed */
    padding: 1px; /* Add some padding for better readability */
    font-size: 16px; /* Adjust the font size */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}
.video-prev:hover {
    transform: scale(1.05);
}

.video-link {
    text-decoration: none;
    color: inherit;
}

.video-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.video-info {
    padding: 10px;
}

.video-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.video-publisher,
.video-upload-date {
    font-size: 0.9em;
    color: #555;
}


/* Dark mode styles */
.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  .video-prev .video-info .video-title {
    font-size: 18px;
}