
.video-prev {
    border: 1px solid transparent;
    margin: 10px;
    overflow: hidden;
    width: 330.98px;
    height: 290px;
    max-height: 320px;
    text-align: center;
    transition: transform 0.3s;
    background-color: var(--background-color-light);
    color: var(--text-color-light);

}
.video-publisher {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 2px;
  }
 
.textarea-description {
    width: 100%; 
    height: 100px; 
    padding: 1px; 
    font-size: 14px; 
    box-sizing: border-box; 
}
.video-prev:hover {
    transform: scale(1.05);
}

.video-link {
    text-decoration: none;
    color: inherit;
}

.video-thumbnail {
    width: 330.98px;
    height: 197.42px;
    max-height: 220px;
    border-radius: 10px;
    display: block;
}

.video-info {
    padding: 10px;
    line-height: 0.3;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;
}

.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  .video-prev .video-info .video-title {
    font-size: 18px;
    font-weight: bold;
    width:290px;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    margin-left: 35px;
    color: black;
    overflow-x: clip;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: 1.2em; 
    height: 1.2em; 
}

.video-publisher-channel{
    color: #555;
    overflow-y: visible;
    overflow-x: clip;
    font-size: 16px;
    text-overflow: ellipsis;
    margin-left: 35px;
    margin-top: -12px;
    width: 250px;
    height: 20px;
    text-wrap: balance;
    text-align: left;
    text-decoration: none;
  }
  
.video-prev .video-info .video-publisher {
    font-size: 12px;
    color: #555;
    white-space: nowrap;
    margin-top: -12px;
    margin-right: -40px;
    margin-left: -7px;
    text-overflow: ellipsis;

}
.video-prev .video-info .video-views-upload-date {
    font-size: 12px;
    color: #555;
    white-space: nowrap;
    margin-left: 35px;
    text-align: left;
    margin-top: 15px; 
    text-overflow: ellipsis;

}
.video-prev .video-info .video-publisher .user-image {
    width: 35px;        
    height:35px;
    margin-top: -17px;
    margin-right: 2px;

}

.dark-mode .video-prev{
    background-color: #343A40;
}

.dark-mode .video-prev .video-info .video-title {
    color: #DDDDDD;
}

.dark-mode .video-prev .video-link .link-no-style  .video-publisher-channel {
        color: #DDDDDD;
 }

 .dark-mode .video-prev .video-info .video-views-upload-date {
    color: #DDDDDD;
 }

