
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin-bottom: -70px;
    padding: 20px;
}

.error-message {
    position: relative;
    left: 0;
    color: red;
    margin-bottom: 25px;
    margin-top: -20px;
    font-size: 0.9em;
    height: 1.2em;
    line-height: 1.2em;
}

.video-add-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 40%;
    max-width: 1200px;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}



.description-container {
    display: flex;
    flex-direction: column;
    width: 400px; 
}

.description-textarea {
    width: 85%; 
    height: 100px; 
    resize: vertical; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: -5px;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.rounded-scalable-image {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.wide-input {
    width: 85%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:5px;
}

.logo-container
{
  font-size: 32px;
  text-align: right;
  display: flex;
  font-weight: bold;
  align-items: center;
}
h2 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #f5f5f5;
    width: 41%;
}
.title-input{
    width: 85%; 
  
}
.form-group {
    margin-bottom: 20px;
  }
  
  .thumbnail-options {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
  }
  
  .thumbnail-option {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .thumbnail-option input[type="radio"] {
    margin: 0;
  }
  