
.search-container {
  display: flex;
  align-items: center;
  width: 100%; 
  max-width: 600px;
}

.form-control {
  border: 1px solid lightgrey; 
  border-radius: 30px; 
  padding: 5px 10px; 
  height: 40px;
  outline: none; 
  box-shadow: 0 0 0 2px lightgrey;

}

.search-button {
  background-color: lightgrey; 
  border: 1px solid lightgrey;
  border-radius: 0 10px 10px 0; 
  border-left: none; 
  width: 60px; 
  height:44px;
  cursor: pointer; 
  padding: 5px; 
  font-size: 16px; 
  color: inherit; 

}

.search-button:hover {
  background-color: #d3d3d3; 
}

.dark-mode .search-button:hover {
  background-color: #6a6a6a; 
}


.navbar {
  width: 100%;
  padding: 10px 0; 
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  box-sizing: border-box; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-light {
  background-color: var(--background-color-light, #f8f9fa);
  color: var(--text-color-light, #000);
}

.navbar-dark {
  background-color: var(--background-color-dark, #343a40); 
  color: var(--text-color-dark, #fff);
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  margin-left: 10px; 
}

.dropdownToggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  padding: 25px; 
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.btn-secondary {
  margin-right: 10px;
}

.user-image, .signInImage {
  width: 50px;
  height: 50px;
  border: 1px solid #909090;
  border-radius: 50%;
  cursor: pointer;
  border: none; 
  padding: 0; 
  object-fit: cover;
}

.signOutDialog {
  position: absolute;
  align-items: center;
  top: 60px;
  background-color: var(--background-color, #fff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  height: 200px;
  width: 150px;
  display: none; 
  z-index: 1000;
}

.signOutDialog.showSignOutDialog {
  display: block; 
}

.signOutDialog.hideSignOutDialog {
  display: none; 
}

.offcanvas {
  width: 300px; 
  transition: transform 0.3s ease-in-out;
}

.offcanvas.show {
  transform: translateX(0);
}

.offcanvas.bg-dark {
  background-color: #343a40;
  color: #fff;
}

.offcanvas.bg-light {
  background-color: #f8f9fa;
  color: #000;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-dark {
  --background-color: #343a40;
  --text-color: #fff;
}

.bg-light {
  --background-color: #f8f9fa;
  --text-color: #000;
}

.dark-mode {
  background-color: var(--background-color, #1a1a1a);
  color: var(--text-color, #fff);
}
.dialogChannelName{
  font-size: 20px;
  font-weight: bold;
}

span5 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: -14px;
  margin-right:180px
  }
  
.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: 40px;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

/* Tooltip styling */
.tooltipAdd {
  visibility: hidden;
  background-color: rgba(85, 85, 85, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  z-index: 10;
  top: 125%; /* Position the tooltip above the button */
  left: 50%;
  margin-left: -30px; /* Center the tooltip */
  width: 60px;
  height: 25px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip on hover */
.icon-circle:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.dark-mode .icon-circle{
  color: rgb(221, 221, 221);

}
.dark-mode .icon-circle:hover {
  background-color: #6a6a6a; 
}
/* Define the button styles */
.myChannelButton {
  display: inline-block;
  overflow: visible; /* Ensure the enlarged image doesn't get cut off */
  position: relative; /* Ensure the tooltip is positioned relative to the button */
  margin-bottom: 40px;
  margin-top: 20px;
}

/* Define the animation for enlarging the image */
@keyframes enlargeImage {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5); /* Adjust the scale factor as needed */
  }
}

/* Apply the animation on hover */
.myChannelButton:hover img {
  animation: enlargeImage 0.3s forwards; /* 0.3s for the duration of the animation */
  z-index: 1; /* Ensure the enlarged image is on top */
}

/* Tooltip styling */
.tooltip {
  visibility: hidden;
  background-color: rgba(85, 85, 85, 0.5);  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  z-index: 10;
  top: 125%; /* Position the tooltip above the button */
  left: 50%;
  height: 25px;
  width: 120px;
  margin-bottom: 20px;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip on hover */
.myChannelButton:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.search-button:hover .tooltipSearch {
  visibility: visible;
  opacity: 1;
}
.tooltipSearch {
  visibility: hidden;
  background-color: rgba(85, 85, 85, 0.5);  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  z-index: 10;
  top: 80%; /* Position the tooltip above the button */
  /* left: 50%; */
  height: 25px;
  width: 120px;
  margin-bottom: 20px;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}


.icon-circle:hover {
  background-color: #d3d3d3;
}

.icon-circle .icon-plus {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.8rem;
}

.user-info .addVideo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.addVideo .menu-item {
  text-decoration: none;
}

.user-info .signOut {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.user-image:hover {
  box-shadow: 0 0 0 4px #d3d3d3;
}


:root {
  --background-color-light: #f8f9fa;
  --text-color-light: #000;
  --background-color-dark: #343a40;
  --text-color-dark: #fff;
}

.search-container input {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.dark-mode .search-container input {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  
}

.dark-mode .offcanvas {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.search-container button {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.dark-mode .search-container button {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.list-group-item {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.dark-mode .list-group-item {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}
